---
import Mainhead from "./Mainhead.astro";

interface Props {
  title?: string;
  description?: string;
}

const {title ="My Astro blog", description ="Am training on it"} = Astro.props as Props;

---

<html lang="en">
  <Mainhead {title} {description} />
  <body>
    <slot> Default text </slot>
  </body>
</html>
